{% extends 'home.html' %}

{% block contenido %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Placa</th>
      <th scope="col">Tipo</th>
      <th scope="col">Hora ingreso</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for elem in reg %}
    <tr>
      <th scope="row">{{elem.idServicio}}</th>
      <td>{{elem.matriculaVehiculo}}</td>
      <td>{{elem.tipoVehiculo | title}}</td>
      <td>{{elem.ingreso}}</td>
      <td><a href="{% url 'salida' elem.idServicio %}" type="button" class="btn btn-success">Registrar salida</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock contenido %}

